# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\2020JAVA\笔记\就业班2.1笔记源码-压缩版\阶段4：会员版(2.1)-医疗实战-传智健康\day04-第4章：预约管理-套餐管理\day04-第4章：预约管理-套餐管理\代码\health_parent\health_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
